// Variables for the project
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Sizes container
$max-width-container: 1400px;

// Variables for fonts
$font-family: "Poppins", sans-serif;

// Colors
$blue: #264065;
$dark-blue: #1a2c45;
$grey: #909090;
$black: #070D15;
$white: #FAF8F5;
